<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    <form action='' method = "POST">
        <p>Aluno id <input type = "integer" name = "employee_id" /></p>
        <p>Nome <input type = "text" name = "name" /></p>
        <p>Idade <input type = "integer" name = "age" /></p>
        <p>Série <input type = "text" name = "position" /></p>
        <p><input type = "submit" value = "Submit" /></p>
        </form>
</body>
</html>